body {
  /* max-width: 1100px; */
  width: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  padding: 30px;
  margin: 20px;
}

.button-styles,
#search {
  background-color: transparent;
  border: 3px solid #333333;
  border-radius: 8px;
  padding: 5px 5px;
  margin: 5px 5px 5px;
}

.button-styles:hover,
#search:hover {
  background-color: #333333;
  color: #ffffff;
  transition: 0.3s;
}

label,
.button-styles,
#search {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
  font-family: sans-serif;
}

#search {
  background-color: #333333;
  color: #ffffff;
  /* margin-left: 10px; */
}

#search:hover {
  background-color: #50c878;
  border: 3px solid #50c878;
}

#search:focus,
.button-styles:focus {
  outline: none;
}
#userSearch {
  margin-left: 10px;
}

input {
  width: 250px;
  height: 40px;
  margin: -15px 0 0 10px;
  border: 3px solid #333333;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

input:focus {
  border: 3px solid #50c878;
  outline: none;
}

label {
  margin: 10px 0 -20px 10px;
  display: block;
}

#images {
  margin-top: 50px;
  /* padding: 10px; */
  margin-bottom: 10px;
}

.state-change {
  /* padding: 10px; */
  margin-left: 10px;
  margin-bottom: 10px;
}

.rating {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 10px;
  padding: 10px;
  background-color: #50c878;
  display: inline-block;
  position: absolute;
  /* right: auto; */
  text-align: center;
}
